$about-background: rgba($secondary-color, 0.9);
$about-block-title-color: $primary-color;
$about-block-headline-color: $extra-color;
$about-block-text-color: $extra-color;

.about {
    position: relative;
    overflow: hidden;
    display: block;
    min-height: 100vh;
    background: $secondary-color;

    & > div {
        min-height: 100vh;
        background: $about-background;
        @include clearfix;
        @include display(flex);
        @include justify-content(center);
        @include flex-direction(column);

        &:before {
            content: " ";
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            top: 0;
            background: $about-background;
            z-index: 10;
        }
    }

    &__block {
        width: 70%;
        padding: 0 35px;
        margin-bottom: 100px;
        
        &:last-child {
            margin-bottom: 0;
        }

        &__title {
            text-transform: uppercase;
            font-weight: 700;
            margin: 0 0 10px 0;
            padding: 0;
            color: $about-block-title-color;
            @include rem(font-size, 18px);
        }

        &__headline {
            font-weight: 200;
            margin: 0 0 15px 0;
            padding: 0;
            color: $about-block-headline-color;
            @include rem(font-size, 32px);
        }

        &__text {
            font-family: "Lato", Helvetica,Arial,sans-serif;
            color: $about-block-text-color;
            @include rem(font-size, 18px);
        }

        &__list {
            list-style: none;
            margin: 0;
            padding: 0;

            li {
                display: block;
                width: 100%;
                margin-bottom: 5px;
                color: $about-block-text-color;
                @include rem(font-size, 16px);
            }
        }
    }

    @include breakpoint('small') {
        &__block {
            padding: 0;
            width: 100%;
            margin-bottom: 70px;
        }
    }

    @include breakpoint('xs') {
        &__block {
            width: calc(100% - 70px);
            margin-bottom: 40px;
            padding: 0 35px;
        }
    }
}
