*,
a,
input,
button,
img,
select,
a:focus,
input:focus,
button:focus,
img:focus,
select:focus {
    outline: none;
}

html {
    overflow-x: hidden;
    font-size: 62.5%;
    min-width: 340px;

    * {
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
}

html,
body {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    font-family: "Lato", Helvetica,Arial,sans-serif;
    @include box-sizing(content);
}

body {
    line-height: 1.5;
    color: #333;
    text-align: left;
    overflow-wrap: break-word;
    word-wrap: break-word;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
    @include rem(font-size, 18px);
}

svg:not(:root) {
    overflow: hidden;
}

a {
    text-decoration: none;
}

p {
    color: #343434;
  	font-weight: 400;
  	margin: 0 0 1.5em;
  	line-height: 1.7;
    font-family: "Merriweather", "PT Serif", Georgia, "Times New Roman", serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Lato","Helvetica Neue",Helvetica,sans-serif;
    text-rendering: optimizeLegibility;
    color: #333;
    margin: 1em 0 0.5em;
    line-height: 1.2;
}
