.contact {
    position: relative;
    display: block;
    overflow: hidden;
    width: 100%;
    min-height: 100vh;
    background: $contact-background;
    @include display(flex);
    @include align-items(center);
    @include justify-content(center);
    @include flex-direction(column);

    &__centre {
        max-width: 1200px;
    }

    &__text {
        position: relative;

        h3,
        a {
            display: inline-block;
            color: $contact-text-color;
            @include rem(font-size, 52px);
        }

        h3 {
            font-weight: 200;
        }

        a {
            font-weight: 700;
            margin-left: 5px;
            border-bottom: 4px solid $contact-underline-color;
        }
    }

    &__info {
        display: block;
        position: absolute;
        bottom: 30px;
        font-family: 'Libre Baskerville', serif;

        &__address,
        &__social {
            display: inline-block;
        }

        &__address {
            @include rem(font-size, 14px);

            &--email {
                position: relative;
                font-weight: 700;
                color: $contact-text-color;
                @include rem(letter-spacing, 1px);
            }

            &--divider {
                display: inline-block;
                width: 60px;
                height: 2px;
                position: relative;
                top: -4px;
                margin: 0 20px;
                background: $contact-text-color;
            }

            &--adr {
                color: $contact-text-secondary-color;
            }
        }

        &__social {
            float: right;
            list-style: none;
            margin: 0;
            padding: 0;

            li {
                display: inline-block;

                a {
                    color: $contact-text-secondary-color;
                    @include rem(font-size, 14px);
                }
            }
        }
    }
}
