.container {
    position: relative;
    width: 1100px;
    margin: 0 auto;
    z-index: 10;

    @media only screen and (max-width: 1200px) {
        width: 950px;
    }

    @media only screen and (max-width: 1000px) {
        width: 768px;
    }

    @media only screen and (max-width: 768px) {
        width: 600px;
    }

    @media only screen and (max-width: 600px) {
        width: 420px;
    }
}
