$nav-height: 75px;

$intro-text-color: #fff;

.intro {
    position: relative;
    min-height: 700px;
    height: 90vh;
    width: 100%;
    overflow: hidden;

    &__left,
    &__right {
        position: relative;
        height: 100%;
    }

    &__left {
        padding-top: $nav-height;
        float: left;
        width: 100%;
        background: linear-gradient(rgba(#000, 0.3), rgba(#000, 0.9)), url(/assets/images/bg.jpg);
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        background-color: #fff;
    }

    &__right {
        display: none;
        float: right;
        width: 20%;
        background: $secondary-color;
        @include display(flex);
        @include align-items(center);
        @include justify-content(center);
        @include flex-direction(column);
    }

    &__title--start,
    &__title--middle,
    &__title--end,
    &__text {
        color: $intro-text-color;
        text-align: left;
    }

    &__title--start,
    &__title--middle,
    &__title--end {
        line-height: 1.3;
        margin: 0;
        @include rem(font-size, 62px);
    }

    &__divider {
        margin: 20px 0;
        height: 5px;
        background: $intro-text-color;
        width: 100px;
    }

    &__text {
        margin: 30px 0 0 0;
        max-width: 400px;
    }


    &__centre {
        height: 100%;
        width: 100%;
        position: relative;
        @include display(flex);
        @include justify-content(center);
        @include flex-direction(column);
    }

    &__wrapper {
        padding: 0 140px;
    }

    &__magic {
        list-style: 0;
        margin: 0;
        padding: 0;

        li {
            display: inline-block;
            color: $intro-text-color;
            text-transform: uppercase;
            font-weight: 700;
            text-align: center;
            margin: 15px 0;
            width: 50%;
            @include rem(font-size, 50px);

            &.s {
                color: $primary-color;
                animation-name: flicker;
                animation-duration: 4000ms;
                animation-iteration-count: infinite;
                animation-timing-function: linear;

                &:nth-child(1) {
                    @include animation-delay(100ms);
                }

                &:nth-child(2) {
                    @include animation-delay(600ms);
                }

                &:nth-child(3) {
                    @include animation-delay(300ms);
                }

                &:nth-child(4) {
                    @include animation-delay(400ms);
                }
            }
        }

        &--white {
            li.s {
                color: $extra-color;
            }
        }
    }
}

@keyframes flicker {
	from {
		opacity: 0.5;
	}
	4% {
		opacity: 0.5;
	}
	6% {
		opacity: 0.45;
	}
	8% {
		opacity: 0.55;
	}
	10% {
		opacity: 0.45;
	}
	11% {
		opacity: 0.5;
	}
	12% {
		opacity: 0.65;
	}
	14% {
		opacity: 0.55;
	}
	16% {
		opacity: 0.70;
	}
	17% {
		opacity: 0.55;
	}
	19% {
		opacity: 0.5;
	}
	20% {
		opacity: 0.9;
	}
	24% {
		opacity: 0.5;
	}
	26% {
		opacity: 0.69;
	}
	28% {
		opacity: 0.5;
	}
	38% {
		opacity: 0.45;
	}
	40% {
		opacity: 1;
	}
	42% {
		opacity: 0.6;
	}
	44% {
		opacity: 0.5;
	}
	46% {
		opacity: 0.5;
	}
	56% {
		opacity: 0.5;
	}
	58% {
		opacity: 0.75;
	}
	60% {
		opacity: 0.5;
	}
	68% {
		opacity: 0.5;
	}
	70% {
		opacity: .6; /*peak*/
	}
	72% {
		opacity: 0.5;
	}
	93% {
		opacity: 0.5;
	}
	95% {
		opacity: .6; /*peak*/
	}
	97% {
		opacity: 0.5;
	}
	to {
		opacity: 0.5;
	}
}

.nav {
    position: absolute;
    width: calc(100% - 280px);
    top: 0;
    left: 140px;
    border-bottom: 1px solid #fff;
    overflow: hidden;
    height: $nav-height;
    line-height: $nav-height;

    &__logo {
        float: left;
        height: $nav-height;
    }

    &__items {
        list-style: none;
        margin: 0;
        padding: 0;
        float: right;
        height: $nav-height;

        li {
            display: inline-block;
            margin-left: 25px;

            a {
                color: #fff;
                text-transform: uppercase;
                font-weight: 700;
                @include rem(font-size, 14px);
            }
        }
    }
}


/*  section.intro
  .intro__left
    nav.nav
      .nav__logo
        a(href="/")
      ul.nav__items
        li
          a(href="#") About Us
        li
          a(href="#") Get in Touch
    .intro__centre
    .intro__centre
h2.intro__title--start We are
h1.intro__title--middle Creative Design
h3.intro__title--end Agency
.intro__divider
p.intro__text SAFK creates experiences that transform brands, grow businesses and make people's lives better.
.intro__right
    .intro__centre*/
