.main {
    position: relative;
    width: 100%;
    overflow: hidden;
    @include transition(transform 200ms ease, filter 300ms ease);

    &__blur {
        transform: scale(1.1);
        @include filter(blur(5px));
    }
}
