.nav {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.88);
    z-index: 1000;
    overflow: hidden;
    @include transition(transform 300ms ease);
    @include transform(translateX(-100%));

    &--active {
        @include transform(translateX(0px));
    }

    &__items {
        width: 100%;
        height: 100%;
    }

    &__item {
        overflow: hidden;
        position: absolute;
        height: 55px;

        &--1 {
            left: 30%;
            top: calc(50% - 180px);
        }

        &--2 {
            left: 58%;
            top: calc(50% - 60px);
        }

        &--3 {
            left: 42%;
            top: calc(50% + 60px);
        }

        &--4 {
            left: 18%;
            top: calc(50% + 180px);
        }

        &__menu {
            font-size: 18px;
            font-weight: 500;
            padding-top: 19px;
            height: 100%;
            position: relative;

            a {
                padding: 20px 20px 20px 55px;
                color: #FFF;
                text-decoration: none;
                cursor: pointer;
                font-weight: 700;
                @include rem(font-size, 24px);

                &:hover {
                    .nav__item__text1 {
                        transform: translateY(-100%);
                        opacity: 0;
                    }

                    .nav__item__text2 {
                        transform: translateY(-100%);
                        opacity: 1;
                    }
                }
            }
        }

        &__trait {
            height: 1px;
            background: #FFF;
            width: 33px;
            position: absolute;
            top: 36px;
            left: 0;
        }

        &__text1 {
            display: inline-block;
            transition: 0.2s;
        }

        &__text2 {
            position: absolute;
            top: calc(100% - 3px);
            transform: translateY(-100%);
            right: 20px;
            opacity: 0;
            transition: 0.2s;
        }
    }
}
