//-- Variables
@import "variables";

//-- Bourbon
@import "bourbon/bourbon";

//-- Utilities
@import "utilities/reset";
@import "utilities/rem";
@import "utilities/mixins";

//-- Theme
@import "theme/base";
@import "theme/main";
@import "theme/navigation";
@import "theme/mopen";
@import "theme/container";
@import "theme/intro";
@import "theme/about";
@import "theme/contact";

.genertiswinner {
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    right: 50px;
    z-index: 1090;
    top: 50%;
    @include transform(translateY(-50%));

    li {
        position: relative;
        font-family: 'Libre Baskerville', serif;
        height: 40px;
        line-height: 40px;
        color: #333;
        text-align: right;
        @include rem(font-size, 14px);

        &.active {
            right: 40px;

            &:before {
                content: "";
                position: absolute;
                width: 35px;
                height: 1px;
                display: block;
                right: -40px;
                background: #333;
                top: 20px;
            }
        }

        &:last-child {
            margin-bottom: 0;
        }
    }

    &--white {
        li {
            color: #fff;

            &.active {
                &:before {
                    background: #fff;
                }
            }
        }
    }

    @include breakpoint('small') {
        top: auto;
        bottom: 5%;
        @include transform(translateY(0px));
    }
}

@media only screen and (min-width: 1050px) {
  .cd-section:first-of-type > div::before {
    display: none;
  }
}
@media only screen and (min-width: 1050px) {
  .cd-section > div {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    /* Force Hardware Acceleration */
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
}
