doctype html
html(lang="en", dir="ltr")
  head
    title Hello word

    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0, minimal-ui")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")

    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Libre+Baskerville")
    link(rel="stylesheet", media="all", href="/assets/stylesheet/main.css")

    script(src="/assets/javascript/bundle.js")
  body
    section.intro
      .intro__left
        nav.nav
          .nav__logo
            a(href="/")
          ul.nav__items
            li
              a(href="#") About Us
            li
              a(href="#") Get in Touch
        .intro__centre.intro__wrapper
          h2.intro__title--start SAFK is
          h1.intro__title--middle Social Media
          h3.intro__title--end Agency
          .intro__divider
          p.intro__text SAFK creates experiences that transform brands, grow businesses and make people's lives better.
      .intro__right
        ul.intro__magic.intro__magic--white
          li.s s
          li.s a
          li.s f
          li.s k

    section.about
      .about__left
        ul.intro__magic
          li.s s
          li.s a
          li.s f
          li.s k
      .about__right
        .about__block
          h4.about__block__title About Us
          h3.about__block__headline We Love Create & Inspire Others
          p.about__block__text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        .about__block
          h4.about__block__title We Do
          ul.about__block__list
            li Brand Identities
            li User Interfaces
            li Motion Graphics
            li Frontend Development
            li Marketing
            li Social Media

    section.contact
      .contact__centre
        .contact__text
          h3 Have A Project To Discuss?
          a(href="#") Let's Talk.
      .contact__info
        .contact__info__address
          span.contact__info__address--email hi@safk.co
          .contact__info__address--divider
          span.contact__info__address--adr Poku tee 21, 76403
        ul.contact__info__social
          li
            a(href="#") Facebook
