doctype html
html(lang="en", dir="ltr")
  head
    title SAFK

    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0, minimal-ui")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")

    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Libre+Baskerville")
    link(rel="stylesheet", media="all", href="/assets/stylesheet/main.css")

    script(src="/assets/javascript/bundle.js")
  body
    section.intro
      .intro__image
        .intro__tilt
          img.intro__tilt__image.tilt-effect(src="/assets/images/background1.jpg", data-tilt-options='{ "opacity" : 0.7, "movement": { "perspective" : 1000, "translateX" : 70, "translateY" : 10, "translateZ" : 2, "rotateX" : 3, "rotateY" : 3 } }')
      .container.intro__container
        h2.intro__sub We are SAFK
        h1.intro__title We influence&nbsp;
          br
          | the world

    section.about
      .container.about__container
        .about__block
          h4.about__block__title About Us
          h3.about__block__headline We Love Create & Inspire Others
          p.about__block__text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        .about__block
          h4.about__block__title We Do
          ul.about__block__list
            li Brand Identities
            li User Interfaces
            li Motion Graphics
            li Frontend Development
            li Marketing
            li Social Media

    section.contact
      .contact__centre
        .contact__text
          h3 Have A Project To Discuss?
          a(href="#") Let's Talk.
      .container.contact__info
        .contact__info__address
          span.contact__info__address--email hi@safk.co
          .contact__info__address--divider
          span.contact__info__address--adr Põdra 5, 10915
        ul.contact__info__social
          li
            a(href="#") Facebook
