doctype html
html(lang="en", dir="ltr")
  head
    title Hello word

    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0, minimal-ui")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")

    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Libre+Baskerville")
    link(rel="stylesheet", media="all", href="/assets/stylesheet/main.css")

    script(src="/assets/javascript/bundle.js")
  body
    section.contact
      .contact__centre
        .contact__text
          h3 Have A Project To Discuss?
          a(href="#") Let's Talk.
      .contact__info
        .contact__info__address
          span.contact__info__address--email hi@safk.co
          .contact__info__address--divider
          span.contact__info__address--adr Poku tee 21, 76403
        ul.contact__info__social
          li
            a(href="#") Facebook
