@mixin user-select ($arg: none) {
    -webkit-touch-callout: $arg; 
    -webkit-user-select: $arg; 
    -khtml-user-select: $arg; 
    -moz-user-select: $arg; 
    -ms-user-select: $arg; 
    user-select: $arg;
}